.fondo1{
    
    background-image: radial-gradient(circle at right,rgba(0,0,0,0.12) 0%,rgba(9,16,25,0.93) 60%), url(../img/0000.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}
.fondo2{
    background-image: radial-gradient(circle at center,rgba(21,28,50,0.73) 0%,rgba(9,16,25,0.92) 100%), url(../img/0000.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondomedico{
    background-image: radial-gradient(circle at right,rgba(0,0,0,0.42) 0%,rgba(21,28,50,0.79) 60%),url(../img/medico-laboral.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.fondo3{
    background-image: radial-gradient(circle at right,rgba(0,0,0,0.42) 0%,rgba(21,28,50,0.94) 60%);
}
.fondo5{
    background-image: url(../img/contacto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.invertido{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.color a:hover{
    color: #edf000;
}
.movido{
    position: relative;
    top:-60px;
    z-index: 8;
    
}
.fuera{
    position: absolute;
    bottom: 50;
    left: 30%;
    z-index: 50;
}
.sombra{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.30);
}
.sombra2{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.30);
}
.amarillo{
    height: 8px;
    width: 5%;
    background-color: #edf000;
    left: 48%;
    position: relative;
    
    
}
.sobrepuesto{
    position: relative;
    top:-60px;
    z-index: 25;
}

.arriba{
    position: fixed;
    right: 22px;
    text-align: center;
    line-height: 50px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(180,180,180,.7);
    border-radius: 25px;
    color: #fff;
    vertical-align: middle;
    z-index: 999;
}
.appwhatsapp{
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 50px;
    height: 50px;
    z-index: 1000;
    
}

.appwhatsapp img{
width: 50px;
height: auto;
}


@media only screen and (min-width:900px) and (max-width:2000px){}