
$font-weight-normal:500;
$headings-font-weight: 700;
$primary:#091019;
$success:#edf000;
$secondary:#828282;
$warning: #ff9c00;
$font-family-sans-serif: 'Montserrat', sans-serif;


@import "../node_modules/bootstrap/scss/bootstrap";